body
{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    margin: 5px;
    background-color: #E6E6E6;
    border-radius: 25px;
}

.item-title
{
    width: 300px;
    font-size: 1.5em;
    padding-left: 35px;
    padding-bottom: 10px;
}

.item-title-edit
{
    width: 265px;
    font-size: 1.5em;
    margin-left: 35px;
    padding: 5px;
}


.item-text
{
    width: 120px;
    padding-right: 10px;
    text-align: right;
}

.number
{
    width: 30px;
    text-align: center;
    font-size: 1.4em;
}

.number-counter
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F5F5F5;
    padding: 5px;
    border-radius: 25px;
    box-shadow: inset 0 1px 8px #777777;
    margin: 5px;
}

.item-max
{
    color: #ff9999;
}

.inc-dec-button
{
    flex: 0 0 auto;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: #cccccc;
    text-align: center;
    font-weight: bold;
    margin-left: 0.5em;
    margin-right: 0.5em;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 1px 5px #333333;
}

.floating-action-button
{
    position: fixed;
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    line-height: 2.5em;
    border-radius: 50%;
    background-color: #5B9CFF;
    text-align: center;
    font-weight: bold;
    margin: 0.5em;
    cursor: pointer;
    user-select: none;
    bottom: 0em;
    right: 0em;
    box-shadow: 0 1px 5px #333333;
}

.button
{
    width: 120px;
    padding: 0.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5em;
    margin: auto;
    margin-top: 50px;
    background-color: #55ff55;
}